<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      Welcome to wherewoof.com!
      You have successfully signed up to example.com
  </body>
</html>