%h1 Users#index
%p Find me in app/views/users/index.html.erb
%table.table
    -model=User
    %tr
        -model.column_names.each do |key|
            %th= key
    -model.all.each do |object|
        %tr
            -model.column_names.each do |key|
                %td= object[key]
