<h1>Wherewoof Application</h1>
<h2>Features</h2>
<p>- Generating awareness of wherewoof with a barking sound at the launch of application</p>
<p>- Create events and share with people</p>
<p>- Real-time updates of location</p>
<p>- Browser compatible so that receivers of link in text message can open in browser if they do not have the app</p>
<p>- Intuitive user interface to rival competitor in Glympse</p>
