.container
  %h1 Message
    
  %form{:id => "message", :action => "/event/message", :method => "post"}
    %input{:name => "message", :type => "text"}/
    %input#submit-form.hidden{:type => "submit"}/
  
      
          
        
    
  %nav.navbar.navbar-fixed-bottom{:style => "background: #000; padding: 20px"}
    .container
      .row
        .col-xs-3
          %a.btn.btn-danger{:href => "/event/select_duration"} 
            %span.glyphicon.glyphicon-arrow-left{"aria-hidden" => "true"}
            %span Back
        .col-xs-6
        .col-xs-3
          %a.btn.btn-success{:href => "/event/summary", :onclick => "document.getElementById('message').submit(); return false;" }
            %span Next
            %span.glyphicon.glyphicon-arrow-right{"aria-hidden" => "true"}
            