.container
    %h1 Select Duration

    = form_tag '/event/select_duration', :method => :post, :id => 'duration_form' do
        
        %br
        .row.selectdurationheader
            .container
                .col-xs-12
                    %h4 Until This Time
        .row.selectdurationrow
            .container
                .col-xs-9
                    %input#slider1{"data-slider-id" => "ex1Slider", "data-slider-max" => "12", "data-slider-min" => "0", "data-slider-step" => "1", "data-slider-value" => "0", :type => "text", :style => "width:100%", :name => "until_this_time"}/
                .col-xs-3
                    .btn-group{"data-toggle" => "buttons"}
                        %label.btn.btn-default.btn-xs#amlabel
                            %input#am{:autocomplete => "off", :name => "am", :type => "radio"}/
                            AM
                        %label.btn.btn-default.btn-xs#pmlabel
                            %input#pm{:autocomplete => "off", :name => "pm", :type => "radio"}/
                            PM
        %br
        .row.selectdurationheader
            .container
                .col-xs-12 
                    %h4 For This Many Hours
        .row.selectdurationrow
            .container
                .col-xs-9
                    %input#slider2{"data-slider-id" => "ex2Slider", "data-slider-max" => "12", "data-slider-min" => "0", "data-slider-step" => "1", "data-slider-value" => "0", :type => "text", :style => "width:100%", :name => "for_this_many_hours"}/
                .col-xs-3
                    .btn-group
                        %a.btn.btn-warning.btn-xs{:onclick => "lessHours()"} Less
                        %a.btn.btn-success.btn-xs{:onclick => "moreHours()"} More
        %br
        .row.selectdurationarrive
            .container.vertical-align
                .col-xs-3.col-xs-offset-7
                    .btn-group
                        %label.btn.btn-default.btn-md.btn-block{:for => 'arrive'}
                            = check_box_tag "arrive" , 1, true, :name => "arrive", :type => "checkbox", :id => "arrive"
                            Until I Arrive
                / .col-xs-3
                /     %a#arrive_next{:onclick => 'submit_form_arrive();return false;', :href => '/event/message'}
                /         %label#submit_arrive.btn.btn-success.btn-xs
                /             %span.glyphicon.glyphicon-arrow-right{"aria-hidden" => "true"}

    :javascript
        function lessHours() {
            var values = $('#slider2').slider('getAttribute', 'ticks');
            console.log(values);
            console.log($('#slider2').slider('getAttribute', 'ticks_positions'));
            if (values[1] == 1) {
                return;
            }
            var vlabels = [];
            var proportion = []
            for (var i = 0; i < 13; i++) {
                var num;
                if (i == 0) {
                    values[i] =0;
                } else {
                    values[i] -= 12;
                }
                vlabels.push(values[i].toString());
                proportion.push(i*(100/12));
            }

            console.log(vlabels);
            $('#slider2').slider('destroy');
            $('#slider2').slider({
                ticks: values,
                ticks_labels: vlabels,
                ticks_positions: proportion,
                formatter: function(value) {
                    return 'Current value: ' + value;
                }
            });
            $('#slider2').on('change', function(event) {
                $('#arrive').prop('checked', false);
                $('#slider1').slider("setValue", startPos);
                $('#am').prop('checked', false);
                $('#amlabel').removeClass('active');
                $('#pm').prop('checked', false);
                $('#pmlabel').removeClass('active');
            });
            return;
        }
        function moreHours() {
            var values = $('#slider2').slider('getAttribute', 'ticks');
            console.log(values);
            console.log($('#slider2').slider('getAttribute', 'ticks_positions'));
            if (values[12] == 48) {
                return;
            }
            var vlabels = [];
            var proportion = []
            for (var i = 0; i < 13; i++) {
                var num;
                if (i == 0) {
                    values[i] =0;
                } else {
                    values[i] += 12;
                }
                vlabels.push(values[i].toString());
                proportion.push(i*(100/12));
            }

            console.log(vlabels);
            $('#slider2').slider('destroy');
            $('#slider2').slider({
                ticks: values,
                ticks_labels: vlabels,
                ticks_positions: proportion,
                formatter: function(value) {
                    return 'Current value: ' + value;
                }
            });
            $('#slider2').on('change', function(event) {
                $('#arrive').prop('checked', false);
                $('#slider1').slider("setValue", startPos);
                $('#am').prop('checked', false);
                $('#amlabel').removeClass('active');
                $('#pm').prop('checked', false);
                $('#pmlabel').removeClass('active');
            });
            return;
        }
        var pageready = function(){
            $('#slider1').slider({
                ticks: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
                ticks_labels: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
            	formatter: function(value) {
            		return 'Current value: ' + value;
            	}
            });
            $('#slider2').slider({
                ticks: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
                ticks_labels: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
            	formatter: function(value) {
            		return 'Current value: ' + value;
            	}
            });
            
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });
            
            startPos = 0
            $('#arrive').on('click', function(event) {
                if (this.checked){
                    $('#slider1').slider("setValue", startPos);
                    $('#slider2').slider("setValue", startPos);
                    $('#am').prop('checked', false);
                    $('#amlabel').removeClass('active');
                    $('#pm').prop('checked', false);
                    $('#pmlabel').removeClass('active');
                }
            });
            $('#slider1').on('change', function(event) {
                $('#am').prop('checked', true);
                $('#amlabel').addClass('active');
                $('#arrive').prop('checked', false);
                $('#slider2').slider("setValue", startPos);
            });
            $('#am, #pm').on('change', function(event) {
                $('#arrive').prop('checked', false);
                $('#slider2').slider("setValue", startPos);
            });
            $('#slider2').on('change', function(event) {
                $('#arrive').prop('checked', false);
                $('#slider1').slider("setValue", startPos);
                $('#am').prop('checked', false);
                $('#amlabel').removeClass('active');
                $('#pm').prop('checked', false);
                $('#pmlabel').removeClass('active');
            });
            
        };
      
        function submit_form_arrive() {
            var form =  document.getElementById("duration_form");
            if (check_arrive()) {
                form.submit();
            } else {
                alert('"Until I Arrive" is not checked.');
            }
        }
        
        function check_arrive(){
            if ( document.getElementById("arrive").checked) {
                return true;
            } else {
                return false;
            }
        }
        function check_until_this_time(){
            if ( $('#slider1').slider("getValue") > 0 && check_am_pm()) {
                return true;
            } else {
                return false;
            }
        }
        function check_for_this_many_hours(){
            if ( $('#slider2').slider("getValue") > 0) {
                return true;
            } else {
                return false;
            }
        }
        function check_am_pm(){
            if (document.getElementById("am").checked || document.getElementById("pm").checked) {
                return true;
            } else {
                return false;
            }
        }
        
        function submit_form() {
            if (check_arrive() || check_until_this_time() || check_for_this_many_hours()) {
                var form =  document.getElementById("duration_form");
                form.submit();
            } else {
                alert('Choose an option.');
            }
        }
        

        $(document).ready(pageready);

    %nav.navbar.navbar-fixed-bottom{:style => "background: #000; padding: 20px"}
        .container
            .row
                .col-xs-3
                    %a#back.btn.btn-danger{:href => "/event/select_contacts"} 
                        %span.glyphicon.glyphicon-arrow-left{"aria-hidden" => "true"}
                        %span Back
                .col-xs-6
                .col-xs-3
                    %a#next.btn.btn-success{:onclick => 'submit_form();return false;', :href => "/event/message"}
                        %span Next
                        %span.glyphicon.glyphicon-arrow-right{"aria-hidden" => "true"}
                        
                    
