.container
    %h1 Summary
    %p= "latlng: #{session[:latlng]}"
    %p= "formatted_address: #{session[:formatted_address]}"

    %nav.navbar.navbar-fixed-bottom{:style => "background: #000; padding: 20px"}
        .container
            .row
                .col-xs-3
                    %a.btn.btn-danger{:href => "/event/message"} 
                        %span.glyphicon.glyphicon-arrow-left{"aria-hidden" => "true"}
                        %span Back
                .col-xs-6
                .col-xs-3
                    %a.btn.btn-success{:href => "/"}
                        %span Next
                        %span.glyphicon.glyphicon-arrow-right{"aria-hidden" => "true"}