%h1 Receiver's view

!!!
%html
  %head
    %meta{:content => "initial-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:charset => "utf-8"}/
    :css
      html, body {
        height: 100%;
        margin-left: 5px; 
        margin-right: 5px; 
        padding: 0;
      }
      #map {
        height: 80%;
      }
  %body
    #map
    :javascript
      function initMap() {
        
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: #{@lati}, lng: #{@longi}},
          zoom: 150,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        var infoWindow = new google.maps.InfoWindow({map: map});
        
        var newPoint = new google.maps.LatLng(#{@lati}, #{@longi});
        addMarker(newPoint, map);
        
      }
        
      function addMarker(location, map) {
        var marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
        marker.setPosition(location); 
      }
        
        
    %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?&callback=initMap"}
      :cdata      
