// Place all the styles related to the event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.selectdurationrow {
    padding-top: 1%;
    padding-bottom: 4%;
    background: #BABABA;
}
.selectdurationheader{
    background: #BABABA;
}
.selectdurationarrive{
    padding-top: 8%;
    padding-bottom: 8%;
    background: #BABABA;
}
.vertical-align {
    display: flex;
    align-items: center;
}